
$font-stack:    athelas, sans-serif;
$box-shadow:     0em 0.3em 0.5em rgb(194, 194, 194);


body
{
	margin: 0 auto;
}

// nav and hero - mobile

@media screen and (max-width: 46.874em) {
#navbar
{
    background-color: #fcf1e1;
    height: 9.875em;
    box-shadow: $box-shadow;
  
    padding: 0px;
    margin: 0 auto;
    overflow: hidden;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

#powerhouse
{
    float: left;
    position: absolute;
    font-family: $font-stack;
    color: #fcf1e1;
    font-size: 4em;
    margin-left: 20px;
    margin-top: 100px;
}

#released
{
    float: left;
    position: absolute; 
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2em;
    margin-top: 10em;
    margin-left: 20px;
    background-color: black;
    padding: 10px;
}


#hero
{
    float:left;
    filter: brightness(50%);
    position: relative;
}

// welcome section - mobile

#welcome
{
    display: block;
    float: left;
    margin-top: 3em;
    margin-bottom: 3em;
}

#welcomeHead
{
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2em;
    margin-left: 4.8em;
    float: left;
    padding: 0;
    margin-top: 3em;
}

#welcomePara
{
    font-family: $font-stack;
    color: #ffb316;
    font-size: 1em;
    margin-left: 4em;
    float: left;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin-top: 0;

}


#crockheader
{
    float:left;
  
}

#crockpic
{
    float: left;
    filter: brightness(50%);
}

#crockTitle
{
    font-family: $font-stack;
    color: #ffb316; 
    font-size: 1.5em;
    width: 200px;
    background-color: black;
    padding: 10px;
    position: absolute;
}

#crockdesc
{
    font-family: $font-stack;
    color: #ffb316; 
    font-size: 1.2em;
    width: 450px;
    background-color: black;
    padding: 10px;
    position: absolute;
    margin-top: 15em;
}  

#details2019
{
    font-family: $font-stack;
    color: #ffb316; 
    font-size: 1.2em;
    position: absolute;
    margin-top: 17.5em;
    margin-left: 1em;
}




//timeline

#timeline
{
    
    margin-top: 1em;
    float: left;
    margin-bottom: 2em;
}

#modelTitle
{
    font-family: $font-stack;
    color: #ffb316; 
    font-size: 3em;
    margin-left: 0.5em;
}

#year2019
{
    float: left;
    background-color: #fce8c1;
    width: 200px;
}

#year9
{
    float: left;
    font-family: $font-stack;
    color: black;
    font-size: 2.3em;
    margin-left: 2em;
    
}

#crock1
{
   
    float: left;
}

#year2018
{
    float: left;
    background-color: #fce8c1;
    width: 200px;
    height:300px;
    margin: 0;
}

#year8
{
    float: left;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2.3em;
    margin-left: 2em;
    
}

#bottomrow
{
    float: left;
    width: 750px;
}


#year2017
{
    background-color: #fce8c1;
    margin: 0;
    float: left;
    width: 200px;
    height: 300px;
}

#year7
{
    float: left;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2.3em;
    margin-left: 2em;
    background-color: #fce8c1;

    
}

#crock3
{
    float: left;
}



#year2016
{
    float: left;
    background-color: #fce8c1;
    width: 200px;
    height: 300px;
    margin: 0;

}

#year6
{
    float: left;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2.3em;
    
}

#crock4
{
   
    float: left;
}

// recipes - mobile

#recipesSection
{
    float: left;
}

#repGrid
{
    background-color: #ffb316;
    float: left;
    height: 670px;
}

#recipeHeaderpic
{
    float: left;
    filter: brightness(50%);
}

#recipesTitle
{
    position: absolute;
    font-family: $font-stack;
    color: white;
    font-size: 2em;
    margin-top: 4em;
    margin-left: 6em;
}

#seeall
{
    position: absolute;
    font-family: $font-stack;
    color: white;
    font-size: 1em;
    margin-top: 10em;
    margin-left: 12em;
}

#snacks
{
    float: left;
    margin-top: 2em;
    margin-left: 1.6em;
}

#snackPic
{
    float: left;
    filter: brightness(50%);
}

#snackTitle
{
    position: absolute;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2em;
    margin-top: 4em;
    margin-left: 1.8em;
}

#meatless
{
    float: left;
    margin-top: 2em;
}

#meatlessPic
{
    float: left;
    filter: brightness(50%);
}

#meatlessTitle
{
    position: absolute;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2em;
    margin-top: 4em;
    margin-left: 1.3em;
}

#pasta
{
    float: left;
   
    margin-left: 1.6em;
}

#pastaPic
{
    float: left;
    filter: brightness(50%);
}

#pastaTitle
{
    position: absolute;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2em;
    margin-top: 4em;
    margin-left: 2em;
}

#meat
{
    float: left;
   
}

#meatPic
{
    float: left;
    filter: brightness(50%);
}

#meatTitle
{
    position: absolute;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2em;
    margin-top: 4em;
    margin-left: 2em;
}

//subscribe -- mobile

#form
{
    float: left;
    margin-top: 5em;
}

#scribeTitle
{
    margin-left: 2.1em;
    font-family: $font-stack;
    color: #ffb316;
    font-size: 1.8em;
}

#scribe
{
    background-color: #ffb316;
    border-radius: 1em;
    padding: 10px;
    width: 20em;
    margin-left: 9em;
    margin-top: 1em;
    float: left;
    
}

#button
{
    color: #ffb316;
    font-size: 1em;
    border-radius: 1em;
    float: left;
    margin-left: 12em;
    margin-top: 1em;
}

#footer
{
    height: 200px;
    width: 100%;
    background-color: #ffb316;
    float: left;
    margin-top: 3em;

}

#icons
{
    margin-top: 5em;
    margin-left: 9em;
}





}
