
$font-stack:    athelas, sans-serif;
$box-shadow:     0em 0.3em 0.5em rgb(194, 194, 194);


body
{
	margin: 0 auto;
}


@media screen and (max-width: 46.874em) {
#navbar
{
    background-color: #fcf1e1;
    height: 9.875em;
    box-shadow: $box-shadow;
    width: 750px;
    padding: 0px;
    margin: 0 auto;
    overflow: hidden;
}

.logo
{
    margin-left: 9em;
}

#powerhouse
{
    float: left;
    position: absolute;
    font-family: $font-stack;
    color: #fcf1e1;
    font-size: 4em;
    margin-left: 20px;
    margin-top: 120px;
}




#released
{
    float: left;
    position: absolute; 
    font-family: $font-stack;
    color: #ffb316;
    font-size: 2em;
    margin-top: 300px;
    margin-left: 20px;
    background-color: black;
    padding: 10px;
}

#hero
{
    float:left;
    filter: brightness(50%);
    position: relative;
}



}
