<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/app.css">
    <title>Crockpot Website</title>
</head>
<body>
    <div id="container">

        <div class="grid-x grid-margin-x">

            <div class="cell small-12">

                <div id="navbar">
                <img class="logo" src="/images/crocklogo.png" alt="crockpot" width="443" height="126">
                </div>

                <div id="heroimg">
                    <h2 id="powerhouse">The powerhouse of the kitchen.</h2>
                    <h3 id="released">Crockpot 2019 is now released.</h3>
                    <img id="hero" src="/images/hero_img.jpg" alt="pasta" width="750" height="548">
                </div>

             </div>

        </div>
    </div>
</body>
</html>