<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/app.css">
    <title>Crockpot Website</title>
</head>
<body>
    <div id="container">

        <div class="grid-x grid-margin-x">

            <div class="cell small-12">

                <div id="navbar">
                <img class="logo" src="/images/crocklogo.png" alt="crockpot" width="343" height="100">
                </div>

                <div id="heroimg">
                        <img id="hero" src="/images/hero_img.jpg" alt="pasta" width="550" height="348">
                    <h2 id="powerhouse">The powerhouse of the kitchen.</h2>
                         <h3 id="released">Crockpot 2019 is now released.</h3>
                </div>

                <div id="welcome">
                    <h2 id="welcomeHead">Welcome!</h2>
                    <p id="welcomePara">The Crockpot has completely changed the cooking game, being the first slow-cooker ever.
                        We are always looking how to make it even better and have formed a community of cooking enthusiasts,
                        all who are innovating new dishes to make in the Crockpot. We invite you to eat with us!
                    </p>
                </div>

                <div id="crockheader">

                    <img id="crockpic" src="/images/crockheader.jpg" alt="crock2019" width="500" height="380">
                    <h2 id="crockTitle">Crockpot Model 2019 now available</h2>
                   <a href=""><p id="crockdesc">Lighter, more durable, the college student's master tool.</p></a>
                    <p id="details2019">see details ></p>
                </div>

                <div id="timeline">
                    <div id="bar1"></div>
                        
                    <div id="row1">
                            
                        <h2 id="modelTitle">Crockpot Models</h2>
                                <div id="year2019">
                                <h2 id="year9">2019</h2>
                                <img id="crock1" src="/images/crockN11.jpeg" alt="crock1" width="200" height="200">
                                </div>
                             
                                <div id="year2018">
                                <h2 id="year8">2018</h2>
                                <img src="/images/crockN2.jpeg" alt="crock2" width="200" height="200">
                                </div>

                                <div id="bottomrow">

                                <div id="year2017">
                                        <h2 id="year7">2017</h2>
                                        <img src="/images/crock3.jpg" alt="crock3" width="200" height="200">
                                        </div>

                                    <div id="year2016">
                                                <h2 id="year7">2016</h2>
                                                <img src="/images/crock4.jpeg" alt="crock4" width="200" height="200">
                                                </div>
                                            </div>

                     </div>



                </div>

                    <div id="recipesSection">
                        <img id="recipeHeaderpic" src="/images/recipes.jpg" alt="recipes" width="500" height="330">
                        <h2 id="recipesTitle">Recipes</h2>
                       <a href=""><p id="seeall">see all ></p></a>
                    </div>

                    <div id="repGrid">
                        <div id="snacks">
                            <img id="snackPic" src="/images/fries.jpg" alt="snacks" width="200" height="300">
                            <h2 id="snackTitle">Snacks</h2>
                        </div>
                        <div id="meatless">
                                <img id="meatlessPic" src="/images/meatless.jpg" alt="meatless" width="200" height="300">
                                <h2 id="meatlessTitle">Meatless</h2>
                            </div>

                            <div id="pasta">
                                    <img id="pastaPic" src="/images/pasta_dish.jpg" alt="pasta" width="200" height="300">
                                    <h2 id="pastaTitle">Pasta</h2>
                                </div>
                            
                                <div id="meat">
                                        <img id="meatPic" src="/images/meat.jpg" alt="meat" width="200" height="300">
                                        <h2 id="meatTitle">Meat</h2>
                                    </div>
                    
                    </div>

                    <div id="form">
                        <label for="email" id="scribeTitle">Subscribe to our newsletter</label>
                        <input type="text" id="scribe" name="subscribe" placeholder="Email">
                        <input type="submit" value="Submit" id="button">
                    </div>


                    <footer id="footer">
                        <div id="icons">
                        <img id="facebook" src="/images/facebook.png" alt="facebook" width="50" height="50">
                        <img  id="pinterest" src="/images/pinterest.png" alt="pinterest" width="50" height="50">
                        <img id="twitter" src="/images/twitter.png" alt="twitter" width="50" height="50">
                    </div>
                    </footer>
                    
    
                </div>

             </div>

        </div>
    </div>
</body>
</html>